extends layout

block content
  h1= title
  p Welcome to #{title}
  form()
        div.input
            span.label ID
            input(type="text", name="id")
        div.input
            span.label Description
            input(type="text", name="description")
        div.actions
            input(type="submit", value="Add 1", method="post", action="/voiture/add")
        div.actions
            input(type="submit", value="Delete", method="get", action="/voiture/delete")
  

